<div class="container">
    <h1 align="center"> All tasks </h1>
    <table class="table">
      <thead>
        <tr>
          <th> ID </th>
          <th> Title </th>
          <th> Tries </th>
          <th> Status</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
            <tr class="danger" >
                <td> <%= link_to task.id, task %></td>
                <td> <%= link_to task.title, task %> </td>
                <td> <%= task.solutions.count %> </td>
                <% @solutions = Solution.where(task_id: 3, user_id: 1)%>
                <   % status = @solutions.last.status ||= "Unpassed"%>
                <td> <%= link_to @solutions.last.status, @solutions.last %> </td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>