<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>
        <%= link_to "Task", @task%>
        statistic
      </br>
      </h2>
    </div>
  </div>
  <div class="row">
    <p> <%= @success_solutions.count %> succesed solutions</p>
  </div>
</div>