<div class="topic_title" align="center">
    <h2> <%= @topic.title %> </h2>
</div>

<div class="topic_text">
  <div class="code" align="center">
    <p> <%= @topic.code %></p>
  </div>
</div>

<div class="task" align="center">

  <%= link_to "Task", task_path(@topic.tasks.first)%>

</div>


  <div class="verdict">

  </div>

</div>