<div class="container">
  </br>
  <ul class="nav nav-pills nav-justified">
    <li> <%= link_to "Create course", new_course_path, class: 'btn' %> </li>
    <li> <%= link_to "Create topic", new_topic_path, class: 'btn' %> </li>
    <li> <%= link_to "Create task", new_task_path, class: 'btn' %> </li>
    <li> <%= link_to "Create test", new_test_path, class: 'btn' %> </li>
  </ul>
</div>