

    <h1 align="center"> Availible courses </h1>


</br>
<div class="slider">

</div>

<div class="container" align="center">
<div class="row">
    <% @courses.each do |course| %>
        <div class="col-lg-3">
        <h3> <%= course.title %> </h3>
          <% course.img ||= "https://www.codementor.io/assets/topic/category_header/sql.png" %>
          <%= image_tag(course.img, width: 150) %> </br>
        </br> <p id='description'>  <%=  course.description %></p> </br>
        <%= link_to "Learn more", course , class: "btn"%>
    </div>
<% end %>
</div>
</div>