<div class="container" align="center">
    <h1> <%= @course.title %> </h1>
    <h3> <%= @course.description %> </h3>
</div>

<div class="container">
  

  <div class="container">
  	<h2 align="center"> Topics </h2>
  	<table class="table">
  		<thead>
  			<th> Title </th>
  			<th> Status </th>
  		</thead>
  		<tbody>
    	<% @topics.each do |topic| %>
    		<tr>
        		<td> <%= link_to topic.title, topic %> </td>
        		<td> <%= topic.status %></td>
        	</tr>
    	<% end %>
    	</tbody>
    </table>
  </div>
  	

</div>