html, body {
  background-image:url("bg.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-color: #140e07;
  color: #fff;
  margin: 0;
  padding: 0;
}

.nav .pull-right{
  margin-right: 50px;
}

.flash {
  color: red;
}

.col-lg-3 p {
  
  width: 100%;
  height: 60px;
}

.col-lg-3 img{
  height: 150px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
}

.header {
  background:rgba(0,0,0,.5); height:60px; padding: 10px 0;
}


.header h1 {
  color: #fff;
  line-height: 100px;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

@media (min-width:850px) {
  .header h1 {
    font-size: 120px;
  }
}

form input.form-control {
  border:0px;
  border-radius:0px;
}


.header p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
  text-transform: uppercase;
}

.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
  transition: background .5s;
}

.nav {
  background: rgba(0, 0, 0, 0.2);
  height: 80px;
  width: 100%;
}


.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  h1 {
    color: white;
  }
}



.nav ul li {

  color: #fff;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
  transition: background .5s;
}

.btn:hover, .nav ul li:hover {
  background: #117bff;
  cursor: pointer;
  transition: background .5s;
}

.main .container {
  margin: 80px auto;
}

.main img {
  float: left;
  margin: 50px 80px 50px 0;
}

.jumbotron {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg) center center;
  background-size: cover;
  height: 600px;
}

.jumbotron .container {
  position: relative;
  top: 220px;
}

.jumbotron h2 {
  color: #fff;
  text-align: right;
}

.jumbotron p {
  color: #fff;
  text-align: right;
}

.jumbotron .btn {
  margin: 10px 0 0;
  float: right;
}

.footer {
  margin-top: 30px;
}

.footer .container {
  padding: 15px 0;
  border-top: 1px solid #e5e5e5;
}

.footer ul {
  list-style: none;
  padding: 0 20px;
  margin-bottom: 80px;
}

.footer li {
  display: inline;
  margin-right: 20px;
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}

.form {
  .container {
    max-width: 940px;
  }


  margin: 80px 0;
  h1 {
    font-size: 30px;
    margin: 0 0 20px 0;

  }
  .btn {
    margin-top:30px;
    color:#fff;
    background:rgba(0,240,190,0.25);
    border:0px;
    border-radius:0px;
  }
}

A {
  color: white;
  text-decoration: none; /* Убирает подчеркивание для ссылок */
}
A:hover {
  text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
  color: white; /* Ссылка красного цвета */
}